In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as datetime
import keras as keras
import plotly.express as px
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import interactive
interactive(True)

In [3]:
def year_month(m,y):
    return 100*y + m

# Basins in the Southeast/ Center-West Subsystem COMPLETE

The following complies the information from the following map:
![Basins part of Southeast /Center west](basins_complete.png)
Obtained from https://bacias.cptec.inpe.br/#!

**Basin Amazonas**
* River Branco
* River Acre
* River Madeira
* River Xingu
* Belo Monte
* Jirau

In [6]:
# River Branco
riobranco = pd.read_csv("../Amazonas/cidade_de_rio_branco_rio_acre.csv")
riobranco['year_month'] = year_month(riobranco['month'], riobranco['year'])
riobranco = riobranco[['year_month', 'accumulate']]
riobranco.rename({'accumulate':'accumulate_riobranco'}, axis = 1, inplace = True)

# River Acre
rioacre = pd.read_csv("../Amazonas/incremental_rio_acre.csv")
rioacre['year_month'] = year_month(rioacre['month'], rioacre['year'])
rioacre = rioacre[['year_month', 'accumulate']]
rioacre.rename({'accumulate':'accumulate_rioacre'}, axis = 1, inplace = True)

# River Madeira
madeira = pd.read_csv("../Amazonas/incremental_rio_madeira.csv")
madeira['year_month'] = year_month( madeira['month'], madeira['year'])
madeira= madeira[['year_month', 'accumulate']]
madeira.rename({'accumulate': 'accumulate_madeira'}, axis = 1, inplace = True)

# River Xingu
xingu = pd.read_csv("../Amazonas/incremental_rio_xingu.csv")
xingu['year_month'] = year_month( xingu['month'], xingu['year'])
xingu= xingu[['year_month', 'accumulate']]
xingu.rename({'accumulate': 'accumulate_xingu'}, axis = 1, inplace = True)

# Belo Monte
monte = pd.read_csv("../Amazonas/uhe_belo_monte.csv")
monte['year_month'] = year_month( monte['month'], monte['year'])
monte= monte[['year_month', 'accumulate']]
monte.rename({'accumulate': 'accumulate_monte'}, axis = 1, inplace = True)

# Jirau
jirau = pd.read_csv("../Amazonas/uhe_jirau.csv")
jirau['year_month'] = year_month(jirau['month'], jirau['year'])
jirau= jirau[['year_month', 'accumulate']]
jirau.rename({'accumulate': 'accumulate_jirau'}, axis = 1, inplace = True)


#Merge all
Amazonas = pd.merge(riobranco, rioacre, on =['year_month'])
Amazonas = pd.merge(Amazonas, madeira , on=['year_month'])
Amazonas = pd.merge(Amazonas, xingu , on=['year_month'])
Amazonas = pd.merge(Amazonas, monte, on=['year_month'])
Amazonas = pd.merge(Amazonas, jirau, on=['year_month'])

#Total
Amazonas['Amazonas_total'] = Amazonas['accumulate_riobranco'] + Amazonas['accumulate_rioacre'] + Amazonas['accumulate_madeira'] + Amazonas['accumulate_xingu'] + Amazonas['accumulate_monte'] + Amazonas['accumulate_jirau'] 

Amazonas.head()
Amazonas.to_csv("../Amazonas/Amazonas_basin.csv")

**Basin Grande**
* River grande
* River pardo
* A. Vermelha
* Caconde
* Furnas
* Marimbondo
* Mascarenha
* Camargos

In [7]:
# Rio Grande
riogrande = pd.read_csv("../Grande/incremental_rio_grande.csv")
riogrande['year_month'] = year_month(riogrande['month'], riogrande['year'])
riogrande.rename({'accumulate':'accumulate_riogrande'}, axis = 1, inplace = True)
riogrande = riogrande[['year_month', 'accumulate_riogrande']]

#River Pardo
pardo = pd.read_csv("../Grande/incremental_rio_pardo.csv")
pardo['year_month'] = year_month( pardo['month'], pardo['year'])
pardo= pardo[['year_month', 'accumulate']]
pardo.rename({'accumulate': 'accumulate_pardo'}, axis = 1, inplace = True)

# Reservoir Vermelha
vermelha = pd.read_csv("../Grande/incremental_uhe_agua_vermelha.csv")
vermelha['year_month'] = year_month(vermelha['month'], vermelha['year'])
vermelha.rename({'accumulate':'accumulate_vermelha'}, axis = 1, inplace = True)
vermelha = vermelha[['year_month', 'accumulate_vermelha']]

#Caconde
caconde = pd.read_csv("../Grande/incremental_uhe_caconde.csv")
caconde['year_month'] = year_month( caconde['month'], caconde['year'])
caconde= caconde[['year_month', 'accumulate']]
caconde.rename({'accumulate': 'accumulate_caconde'}, axis = 1, inplace = True)

# Reservoir Furnas
furnas = pd.read_csv("../Grande/incremental_uhe_furnas.csv")
furnas['year_month'] = year_month(furnas['month'], furnas['year'])
furnas.rename({'accumulate':'accumulate_furnas'}, axis = 1, inplace = True)
furnas = furnas[['year_month', 'accumulate_furnas']]

# Reservoir Marimbondo
marimbondo = pd.read_csv("../Grande/incremental_uhe_marimbondo.csv")
marimbondo['year_month'] = year_month(marimbondo['month'], marimbondo['year'])
marimbondo.rename({'accumulate':'accumulate_marimbondo'}, axis = 1, inplace = True)
marimbondo = marimbondo[['year_month', 'accumulate_marimbondo']]

#Mascarenha
mascarenha = pd.read_csv("../Grande/incremental_uhe_mascarenhas.csv")
mascarenha['year_month'] = year_month( mascarenha['month'], mascarenha['year'])
mascarenha= mascarenha[['year_month', 'accumulate']]
mascarenha.rename({'accumulate': 'accumulate_mascarenha'}, axis = 1, inplace = True)

#Camargos
camargos = pd.read_csv("../Grande/uhe_camargos.csv")
camargos['year_month'] = year_month( camargos['month'], camargos['year'])
camargos= camargos[['year_month', 'accumulate']]
camargos.rename({'accumulate': 'accumulate_camargos'}, axis = 1, inplace = True)

#Merge
Grande = pd.merge(riogrande, pardo, on = ['year_month'])
Grande = pd.merge(Grande, vermelha, on = ['year_month'])
Grande = pd.merge(Grande, caconde, on = ['year_month'])
Grande = pd.merge(Grande, furnas, on = ['year_month'])
Grande = pd.merge(Grande, marimbondo, on = ['year_month'])
Grande = pd.merge(Grande, mascarenha, on = ['year_month'])
Grande = pd.merge(Grande, camargos, on = ['year_month'])

#Total
Grande['Grande_total'] = Grande['accumulate_riogrande'] + Grande['accumulate_pardo'] + Grande['accumulate_vermelha'] + Grande['accumulate_caconde'] + Grande['accumulate_furnas'] + Grande['accumulate_marimbondo']+ Grande['accumulate_mascarenha'] + Grande['accumulate_camargos']

Grande.head(10)
Grande.to_csv("../Grande/Grade_basin.csv")

**Paraiba do Sul**
* Santa Cecilia
* Paraiba do Sul
* Funil
* Santa branca
* Jaguari
* Paraibuna

In [8]:
#Santa Cecilia
cecilia = pd.read_csv("../Paraiba_do_sul/incremental_barragem_santa_cecilia.csv")
cecilia['year_month'] = year_month( cecilia['month'], cecilia['year'])
cecilia= cecilia[['year_month', 'accumulate']]
cecilia.rename({'accumulate': 'accumulate_cecilia'}, axis = 1, inplace = True)

#Paraiba do sul
rioparaiba = pd.read_csv("../Paraiba_do_sul/incremental_rio_paraiba_do_sul.csv")
rioparaiba['year_month'] = year_month(rioparaiba['month'], rioparaiba['year'])
rioparaiba.rename({'accumulate':'accumulate_rioparaiba'}, axis = 1, inplace = True)
rioparaiba = rioparaiba[['year_month', 'accumulate_rioparaiba']]

#Funil
funil = pd.read_csv("../Paraiba_do_sul/incremental_uhe_funil.csv")
funil['year_month'] = year_month( funil['month'], funil['year'])
funil= funil[['year_month', 'accumulate']]
funil.rename({'accumulate': 'accumulate_funil'}, axis = 1, inplace = True)

#Santa Branca
branca = pd.read_csv("../Paraiba_do_sul/incremental_uhe_santa_branca.csv")
branca['year_month'] = year_month( branca['month'], branca['year'])
branca= branca[['year_month', 'accumulate']]
branca.rename({'accumulate': 'accumulate_branca'}, axis = 1, inplace = True)

#Jaguari
jaguari = pd.read_csv("../Paraiba_do_sul/uhe_jaguari.csv")
jaguari['year_month'] = year_month( jaguari['month'], jaguari['year'])
jaguari= jaguari[['year_month', 'accumulate']]
jaguari.rename({'accumulate': 'accumulate_jaguari'}, axis = 1, inplace = True)

#Reservoir Paraibuna
paraibuna = pd.read_csv("../Paraiba_do_sul/uhe_paraibuna.csv")
paraibuna['year_month'] = year_month(paraibuna['month'], paraibuna['year'])
paraibuna.rename({'accumulate':'accumulate_paraibuna'}, axis = 1, inplace = True)
paraibuna = paraibuna[['year_month', 'accumulate_paraibuna']]

#Merge
Paraiba_do_sul = pd.merge(cecilia, rioparaiba, on = ['year_month'])
Paraiba_do_sul = pd.merge(Paraiba_do_sul, funil, on =['year_month'])
Paraiba_do_sul = pd.merge(Paraiba_do_sul, branca, on =['year_month'])
Paraiba_do_sul = pd.merge(Paraiba_do_sul, jaguari, on =['year_month'])
Paraiba_do_sul = pd.merge(Paraiba_do_sul, paraibuna, on =['year_month'])
Paraiba_do_sul['Paraiba_do_sul_total'] = Paraiba_do_sul['accumulate_cecilia']+ Paraiba_do_sul['accumulate_rioparaiba'] + Paraiba_do_sul['accumulate_funil'] + Paraiba_do_sul['accumulate_branca'] + Paraiba_do_sul['accumulate_jaguari'] + Paraiba_do_sul['accumulate_paraibuna']

#Total
Paraiba_do_sul.head(10)
Paraiba_do_sul.to_csv("../Paraiba_do_sul/Paraiba_do_sul_basin.csv")

**Parana**
* Solteira
* Itaipu

In [9]:
#Reservoir Solteira
solteira = pd.read_csv("../Parana/incremental_ilha_solteira.csv")
solteira['year_month'] = year_month(solteira['month'], solteira['year'])
solteira = solteira[['year_month', 'accumulate']]
solteira.rename({'accumulate':'accumulate_solteira'}, axis = 1, inplace = True)

#Itaipu
itaipu = pd.read_csv("../Parana/incremental_uhe_itaipu.csv")
itaipu['year_month'] = year_month( itaipu['month'], itaipu['year'])
itaipu = itaipu[['year_month', 'accumulate']]
itaipu.rename({'accumulate': 'accumulate_itaipu'}, axis = 1, inplace = True)

#Merge
Parana = pd.merge(solteira, itaipu, on = ['year_month'])
Parana['Parana_total'] = Parana['accumulate_solteira'] + Parana['accumulate_itaipu']

Parana.head(10)
Parana.to_csv("../Parana/Parana_basin.csv")

**Paranaiba**
* River Paranaiba -basin
* River Paranaiba -river
* River Corumba
* River Corumba I
* River Corumba III
* River Corumba IV
* Sao Simao
* Emborcacao
* Itumbiara

In [10]:
#River parainaba: basin
basinp = pd.read_csv("../Paranaiba/incremental_bacia_do_rio_paranaiba.csv")
basinp['year_month'] = year_month(basinp['month'], basinp['year'])
basinp.rename({'accumulate':'accumulate_basinp'}, axis = 1, inplace = True)
basinp = basinp[['year_month', 'accumulate_basinp']]

#River Parnaiba
riop = pd.read_csv("../Paranaiba/incremental_rio_parnaiba.csv")
riop['year_month'] = year_month(riop['month'], riop['year'])
riop.rename({'accumulate':'accumulate_riop'}, axis = 1, inplace = True)
riop = riop[['year_month', 'accumulate_riop']]

# Corumba 
corumba = pd.read_csv("../Paranaiba/incremental_rio_corumba.csv")
corumba['year_month'] = year_month(corumba['month'], corumba['year'])
corumba= corumba[['year_month', 'accumulate']]
corumba.rename({'accumulate': 'accumulate_corumba'}, axis = 1, inplace = True)

# Corumba 1
corumba1 = pd.read_csv("../Paranaiba/incremental_uhe_corumba_i.csv")
corumba1['year_month'] = year_month(corumba1['month'], corumba1['year'])
corumba1= corumba1[['year_month', 'accumulate']]
corumba1.rename({'accumulate': 'accumulate_corumba1'}, axis = 1, inplace = True)

# Corumba 3
corumba3 = pd.read_csv("../Paranaiba/incremental_uhe_corumba_iii.csv")
corumba3['year_month'] = year_month(corumba3['month'], corumba3['year'])
corumba3= corumba3[['year_month', 'accumulate']]
corumba3.rename({'accumulate': 'accumulate_corumba3'}, axis = 1, inplace = True)

# Corumba 4
corumba4 = pd.read_csv("../Paranaiba/incremental_uhe_corumba_iv.csv")
corumba4['year_month'] = year_month(corumba4['month'], corumba4['year'])
corumba4= corumba4[['year_month', 'accumulate']]
corumba4.rename({'accumulate': 'accumulate_corumba4'}, axis = 1, inplace = True)

# Reservoir Sao Simao
simao = pd.read_csv("../Paranaiba/incremental_uhe_sao_simao.csv")
simao['year_month'] = year_month(simao['month'], simao['year'])
simao.rename({'accumulate':'accumulate_simao'}, axis = 1, inplace = True)
simao = simao[['year_month', 'accumulate_simao']]

# Reservoir Emborcacao
emborcacao = pd.read_csv("../Paranaiba/uhe_emborcacao.csv")
emborcacao['year_month'] = year_month(emborcacao['month'], emborcacao['year'])
emborcacao.rename({'accumulate':'accumulate_emborcacao'}, axis = 1, inplace = True)
emborcacao = emborcacao[['year_month', 'accumulate_emborcacao']]

# Reservoir Itumbiara
itumbiara = pd.read_csv("../Paranaiba/uhe_itumbiara.csv")
itumbiara['year_month'] = year_month(itumbiara['month'], itumbiara['year'])
itumbiara.rename({'accumulate':'accumulate_itumbiara'}, axis = 1, inplace = True)
itumbiara = itumbiara[['year_month', 'accumulate_itumbiara']]

#Merge
Paranaiba = pd.merge(basinp, riop, on = ['year_month'])
Paranaiba = pd.merge(Paranaiba, simao, on = ['year_month'])
Paranaiba = pd.merge(Paranaiba, emborcacao, on = ['year_month'])
Paranaiba = pd.merge(Paranaiba, itumbiara, on = ['year_month'])
Paranaiba = pd.merge(Paranaiba, corumba, on = ['year_month'])
Paranaiba = pd.merge(Paranaiba, corumba1, on = ['year_month'])
Paranaiba = pd.merge(Paranaiba, corumba3, on = ['year_month'])
Paranaiba = pd.merge(Paranaiba, corumba4, on = ['year_month'])

Paranaiba['Paranaiba_total'] = Paranaiba['accumulate_basinp'] + Paranaiba['accumulate_riop'] + Paranaiba['accumulate_simao'] + Paranaiba['accumulate_emborcacao'] + Paranaiba['accumulate_itumbiara'] + Paranaiba['accumulate_corumba'] +Paranaiba ['accumulate_corumba1'] +Paranaiba['accumulate_corumba3'] + Paranaiba['accumulate_corumba4']

Paranaiba.head(10)
Paranaiba.to_csv("../Paranaiba/Paranaiba_basin.csv")

**Paranapanema**
* Rio Paranapanema
* Capivara 
* Tibaji
* Jurumirim 
* Chavantes

In [11]:
# Rio Paranapanema : Basin
priver = pd.read_csv("../Paranapanema/incremental_bacia_do_rio_paranapanema.csv")
priver['year_month'] = year_month(priver['month'], priver['year'])
priver.rename({'accumulate':'accumulate_priver'}, axis = 1, inplace = True)
priver = priver[['year_month', 'accumulate_priver']]

# Reservoir Capivara
capivara = pd.read_csv("../Paranapanema/incremental_uhe_capivara.csv")
capivara['year_month'] = year_month(capivara['month'], capivara['year'])
capivara.rename({'accumulate':'accumulate_capivara'}, axis = 1, inplace = True)
capivara = capivara[['year_month', 'accumulate_capivara']]

# Reservoir Chavantes
chavantes = pd.read_csv("../Paranapanema/incremental_uhe_chavantes.csv")
chavantes['year_month'] = year_month(chavantes['month'], chavantes['year'])
chavantes.rename({'accumulate':'accumulate_chavantes'}, axis = 1, inplace = True)
chavantes = chavantes[['year_month', 'accumulate_chavantes']]

# River Tibaji
tibaji = pd.read_csv("../Paranapanema/rio_tibaji.csv")
tibaji['year_month'] = year_month( tibaji['month'], tibaji['year'])
tibaji= tibaji[['year_month', 'accumulate']]
tibaji.rename({'accumulate': 'accumulate_tibaji'}, axis = 1, inplace = True)

# Basin Jurumirim
jurumirim = pd.read_csv("../Paranapanema/uhe_jurumirim.csv")
jurumirim['year_month'] = year_month(jurumirim['month'], jurumirim['year'])
jurumirim.rename({'accumulate':'accumulate_jurumirim'}, axis = 1, inplace = True)
jurumirim = jurumirim[['year_month', 'accumulate_jurumirim']]

#Merge
Paranapanema = pd.merge(priver, capivara, on = ['year_month'])
Paranapanema = pd.merge(Paranapanema, chavantes, on = ['year_month'])
Paranapanema = pd.merge(Paranapanema, jurumirim, on = ['year_month'])
Paranapanema = pd.merge(Paranapanema, tibaji, on = ['year_month'])
Paranapanema['Paranapanema_total'] = Paranapanema['accumulate_priver'] + Paranapanema['accumulate_capivara'] + Paranapanema['accumulate_chavantes'] + Paranapanema['accumulate_jurumirim'] + Paranapanema['accumulate_tibaji']

Paranapanema.head(10)
Paranapanema.to_csv("../Paranapanema/Paranapanema_basin.csv")

**Sao Francisco**
* Sao Francisco River
* Sobradinho
* Xingo
* Tres Marias

In [12]:
#Sao Francisco River
riopaco = pd.read_csv("../Sao_Francisco/incremental_foz_do_rio_sao_francisco.csv")
riopaco['year_month'] = year_month(riopaco['month'], riopaco['year'])
riopaco.rename({'accumulate':'accumulate_riopaco'}, axis = 1, inplace = True)
riopaco = riopaco[['year_month', 'accumulate_riopaco']]

#Sobradinho
sobradinho = pd.read_csv("../Sao_Francisco/incremental_uhe_sobradinho.csv")
sobradinho['year_month'] = year_month( sobradinho['month'], sobradinho['year'])
sobradinho= sobradinho[['year_month', 'accumulate']]
sobradinho.rename({'accumulate': 'accumulate_sobradinho'}, axis = 1, inplace = True)

#Xingo
xingo = pd.read_csv("../Sao_Francisco/incremental_uhe_xingo.csv")
xingo['year_month'] = year_month(xingo['month'], xingo['year'])
xingo= xingo[['year_month', 'accumulate']]
xingo.rename({'accumulate': 'accumulate_xingo'}, axis = 1, inplace = True)

#Reservoir Tres Marias
marias = pd.read_csv("../Sao_Francisco/uhe_tres_marias.csv")
marias['year_month'] = year_month(marias['month'], marias['year'])
marias.rename({'accumulate':'accumulate_marias'}, axis = 1, inplace = True)
marias = marias[['year_month', 'accumulate_marias']]

#Merge
SaoFrancisco = pd.merge(riopaco, marias, on = ['year_month'])
SaoFrancisco = pd.merge(SaoFrancisco, sobradinho, on = ['year_month'])
SaoFrancisco = pd.merge(SaoFrancisco, xingo, on = ['year_month'])
SaoFrancisco['SaoFrancisco_total'] = SaoFrancisco['accumulate_riopaco'] + SaoFrancisco['accumulate_marias'] + SaoFrancisco['accumulate_sobradinho'] + SaoFrancisco['accumulate_xingo']

SaoFrancisco.head(10)
SaoFrancisco.to_csv("../Sao_Francisco/Sao_Francisco_basin.csv")

**Tiete**
* Billings -included in River Tiete
* B. Bonita -included in River Tiete
* Tres Irmaos

In [13]:
#Tiete River
riotiete = pd.read_csv("../Tiete/incremental_bacia_do_rio_tiete.csv")
riotiete['year_month'] = year_month(riotiete['month'], riotiete['year'])
riotiete.rename({'accumulate':'accumulate_riotiete'}, axis = 1, inplace = True)
riotiete = riotiete[['year_month', 'accumulate_riotiete']]

#Reservoir Tres Irmaos
irmaos = pd.read_csv("../Tiete/uhe_tres_irmaos.csv")
irmaos['year_month'] = year_month(irmaos['month'], irmaos['year'])
irmaos.rename({'accumulate':'accumulate_irmaos'}, axis = 1, inplace = True)
irmaos = irmaos[['year_month', 'accumulate_irmaos']]

#Merge
Tiete = pd.merge(riotiete, irmaos, on = ['year_month'])
Tiete['Tiete_total'] = Tiete['accumulate_riotiete'] + Tiete['accumulate_irmaos']

Tiete.head(10)
Tiete.to_csv("../Tiete/Tiete_basin.csv")

**Tocantis**
* River Araguaia
* River Tocantins
* Tucurui
* Estreito
* Serra da Mesa

In [14]:
#Araguaia River
rioaraguaia = pd.read_csv("../Tocantins/bacia_do_rio_araguaia.csv")
rioaraguaia['year_month'] = year_month(rioaraguaia['month'], rioaraguaia['year'])
rioaraguaia.rename({'accumulate':'accumulate_rioaraguaia'}, axis = 1, inplace = True)
rioaraguaia = rioaraguaia[['year_month', 'accumulate_rioaraguaia']]

#Tocantis River
riotocantins = pd.read_csv("../Tocantins/incremental_rio_tocantins.csv")
riotocantins['year_month'] = year_month(riotocantins['month'], riotocantins['year'])
riotocantins.rename({'accumulate':'accumulate_riotocantins'}, axis = 1, inplace = True)
riotocantins = riotocantins[['year_month', 'accumulate_riotocantins']]

#Tucurui
tucurui = pd.read_csv("../Tocantins/incremental_tucurui.csv")
tucurui['year_month'] = year_month(tucurui['month'], tucurui['year'])
tucurui= tucurui[['year_month', 'accumulate']]
tucurui.rename({'accumulate': 'accumulate_tucurui'}, axis = 1, inplace = True)

#Estreito
estreito = pd.read_csv("../Tocantins/incremental_uhe_estreito.csv")
estreito['year_month'] = year_month( estreito['month'], estreito['year'])
estreito= estreito[['year_month', 'accumulate']]
estreito.rename({'accumulate': 'accumulate_estreito'}, axis = 1, inplace = True)

#Reservoir Serra da Mesa
serra = pd.read_csv("../Tocantins/uhe_serra_da_mesa.csv")
serra['year_month'] = year_month(serra['month'], serra['year'])
serra.rename({'accumulate':'accumulate_serra'}, axis = 1, inplace = True)
serra = serra[['year_month', 'year','month', 'accumulate_serra']]

#Merge
Tocantins = pd.merge(riotocantins, serra, on = ['year_month'])
Tocantins = pd.merge(Tocantins, rioaraguaia, on =['year_month'])
Tocantins = pd.merge(Tocantins, tucurui, on =['year_month'])
Tocantins = pd.merge(Tocantins, estreito, on =['year_month'])
Tocantins['Tocantins_total'] = Tocantins['accumulate_riotocantins'] + Tocantins['accumulate_serra'] + Tocantins['accumulate_rioaraguaia'] + Tocantins['accumulate_tucurui'] + Tocantins['accumulate_estreito']

Tocantins.head(10)
Tocantins.to_csv("../Tocantins/Tocantins_basin.csv")

**Doce**
* River Doce
* Baguari
* River Picacicaba
* River Santo Antonio

In [15]:
# River Doce
riodoce = pd.read_csv("../Doce/incremental_rio_doce.csv")
riodoce['year_month'] = year_month(riodoce['month'], riodoce['year'])
riodoce.rename({'accumulate':'accumulate_riodoce'}, axis = 1, inplace = True)
riodoce = riodoce[['year_month', 'accumulate_riodoce']]

# Baguari
baguari = pd.read_csv("../Doce/incremental_uhe_baguari.csv")
baguari['year_month'] = year_month(baguari['month'], baguari['year'])
baguari.rename({'accumulate':'accumulate_baguari'}, axis = 1, inplace = True)
baguari = baguari[['year_month', 'accumulate_baguari']]

# River Piracicaba
piracicaba = pd.read_csv("../Doce/rio_piracicaba.csv")
piracicaba['year_month'] = year_month(piracicaba['month'], piracicaba['year'])
piracicaba.rename({'accumulate':'accumulate_piracicaba'}, axis = 1, inplace = True)
piracicaba = piracicaba[['year_month', 'accumulate_piracicaba']]

# River Santo Antonio
antonio = pd.read_csv("../Doce/rio_santo_antonio.csv")
antonio['year_month'] = year_month(antonio['month'], antonio['year'])
antonio.rename({'accumulate':'accumulate_antonio'}, axis = 1, inplace = True)
antonio = antonio[['year_month', 'accumulate_antonio']]

#Merge
Doce = pd.merge(riodoce, baguari, on=['year_month'])
Doce = pd.merge(Doce, piracicaba, on=['year_month'])
Doce = pd.merge(Doce, antonio, on=['year_month'])

#Total
Doce['Doce_total']= Doce['accumulate_riodoce']+Doce['accumulate_baguari']+ Doce['accumulate_piracicaba'] + Doce['accumulate_antonio']

Doce.head(10)
Doce.to_csv("../Doce/Doce_basin.csv")

In [18]:
#Final Merge

DF = pd.merge(Grande, Paraiba_do_sul, on = ['year_month'])
DF = pd.merge(DF, Parana, on = ['year_month'])
DF = pd.merge(DF, Paranaiba, on = ['year_month'])
DF = pd.merge(DF, Paranapanema, on = ['year_month'])
DF = pd.merge(DF, SaoFrancisco, on = ['year_month'])
DF = pd.merge(DF, Tiete, on = ['year_month'])
DF = pd.merge(DF, Tocantins, on = ['year_month'])
DF = pd.merge(DF, Amazonas, on = ['year_month'])
DF = pd.merge(DF, Doce, on = ['year_month'])

DF = DF[['year', 'month', 'Amazonas_total', 'Grande_total', 'Paraiba_do_sul_total', 'Parana_total', 'Paranaiba_total', 'Paranapanema_total', 'SaoFrancisco_total', "Tiete_total", "Tocantins_total", "Doce_total"]]
DF['day'] = 1
df = pd.DataFrame({'year' : DF['year'],
                  'month' : DF['month'],
                  'day' : DF['day']})

DF['date'] = pd.to_datetime(df)

DF = DF[['date','year', 'month', 'Amazonas_total', 'Grande_total', 'Paraiba_do_sul_total', 'Parana_total', 'Paranaiba_total', 'Paranapanema_total', 'SaoFrancisco_total', "Tiete_total", "Tocantins_total", "Doce_total"]]
DF.index = DF['date']


DF.head(10)
#DF.to_csv("../basin_complete.csv")

,date,year,month,Amazonas_total,Grande_total,Paraiba_do_sul_total,Parana_total,Paranaiba_total,Paranapanema_total,SaoFrancisco_total,Tiete_total,Tocantins_total,Doce_total
date,,,,,,,,,,,,,
2000-06-01,2000-06-01,2000,6,265.01,14.53,22.61,94.22,19.59,276.34,157.49,46.46,183.49,15.35
2000-07-01,2000-07-01,2000,7,376.30,251.88,298.74,93.94,111.67,295.86,115.25,91.30,255.65,34.69
2000-08-01,2000-08-01,2000,8,303.28,336.05,356.93,157.56,231.15,517.40,108.67,137.42,86.33,108.83
2000-09-01,2000-09-01,2000,9,589.41,1034.93,588.85,309.15,977.39,870.52,184.77,243.49,408.06,244.89
2000-10-01,2000-10-01,2000,10,868.06,398.12,378.25,149.81,500.25,490.91,70.57,89.52,337.40,183.03
2000-11-01,2000-11-01,2000,11,1149.89,1560.18,1126.75,293.63,1998.62,770.11,574.89,364.99,969.57,1116.77
2000-12-01,2000-12-01,2000,12,1207.81,1889.40,1445.88,387.65,2150.15,910.61,683.45,384.66,1352.90,1001.99
2001-01-01,2001-01-01,2001,1,1943.50,1243.43,842.85,320.70,1451.58,734.18,244.89,321.09,1180.40,526.25
2001-02-01,2001-02-01,2001,2,1500.29,955.27,971.85,392.62,1141.94,1217.91,168.37,336.99,1153.99,140.51
2001-03-01,2001-03-01,2001,3,1815.20,1214.28,892.54,316.56,1992.85,643.50,462.08,316.73,1557.98,441.59